Source: xcb-proto
Section: libdevel
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Julien Cristau <jcristau@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 libxml2-utils,
 python3,
Standards-Version: 4.6.2
Homepage: https://xcb.freedesktop.org
Vcs-Git: https://salsa.debian.org/xorg-team/proto/xcb-proto.git
Vcs-Browser: https://salsa.debian.org/xorg-team/proto/xcb-proto

Package: xcb-proto
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: X C Binding - protocol descriptions
 xcb-proto contains descriptions of the X Window System core protocol and
 selected extensions in an XML-based data format. The X C Binding (XCB)
 library uses these descriptions to generate much of its code. You only need
 this package if you want to compile XCB or otherwise make use of these
 protocol descriptions.
 .
 The XCB library provides an interface to the X Window System protocol,
 designed to replace the Xlib interface.  XCB provides several advantages over
 Xlib:
 .
  * Size: small library and lower memory footprint
  * Latency hiding: batch several requests and wait for the replies later
  * Direct protocol access: one-to-one mapping between interface and protocol
  * Thread support: access XCB from multiple threads, with no explicit locking
  * Easy creation of new extensions: automatically generates interface from
    machine-parsable protocol descriptions

Package: python3-xcbgen
Section: python
Architecture: all
Multi-Arch: foreign
Depends: ${python3:Depends}, ${misc:Depends}
Description: X C Binding - protocol binding generator (Python 3)
 python3-xcbgen generates the X protocol C language bindings from XML
 descriptions.
 .
 The XCB library provides an interface to the X Window System protocol,
 designed to replace the Xlib interface.  XCB provides several advantages over
 Xlib:
 .
  * Size: small library and lower memory footprint
  * Latency hiding: batch several requests and wait for the replies later
  * Direct protocol access: one-to-one mapping between interface and protocol
  * Thread support: access XCB from multiple threads, with no explicit locking
  * Easy creation of new extensions: automatically generates interface from
    machine-parsable protocol descriptions
